.card {
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__name {
            font-size: 4rem;
            font-family: var(--primary-font-thin);
        }

        &__client {
            font-family: var(--primary-font-thin);
            font-size: 2.5rem;
        }

        &__role {
            font-family: var(--primary-font-thin);
            font-size: 2rem;
        }
    }

    img {
        aspect-ratio: 1;
        object-fit: cover;
    }
}