.pagnition {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0 5rem;

    &__item {
        font-size: 5rem;
        font-family: var(--primary-font-thin);
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &--active {
            font-weight: 600;
        }
    }
}