.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 2rem;
    &__image {
        color: red;
    }
    &__link {
        font-size: 30px;
    }
}