@import '../../../components/GlobalStyles/variable.scss';

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 999;

    &__bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 999;
        position: fixed;
        padding: 2rem 5rem;
        background-color: $white;
        align-items: center;
        transition: all .5s;
        transform: translateY(-100%);

        @include breakpoint(sm) {
            flex-direction: row-reverse;
        }

        &__toggle {
            cursor: pointer;

            &__line {
                width: 40px;
                height: 4px;
                background-color: var(--color);
                position: relative;
                margin: 3rem 0;
                transition: transform 0.4s ease-in-out;

                &::before {
                    content: '';
                    top: -1rem;
                    width: 80%;
                    height: 100%;
                    right: 0;
                    position: absolute;
                    background-color: var(--color);
                    transition: transform 0.4s ease-in-out;
                }
            }
        }

        &__logo {
            font-size: 3rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            a {
                color: var(--color);
                text-decoration: none;
            }
        }

        &__cta {
            @include breakpoint(sm) {
                display: none !important;
            }
        }

        &--transparent {
            background-color: transparent;
        }

        &--down {
            transform: translateY(0);
        }
    }

    &--active {
        .header__bar__toggle .header__bar__toggle__line {
            transform: rotate(45deg);
        }

        .header__bar__toggle .header__bar__toggle__line {
            transform: rotate(45deg);
        }

        .header__bar__toggle .header__bar__toggle__line::before {
            width: 100%;
            transform: rotate(90deg);
            top: 0;
        }

        .header__dialog {
            transform: translateX(0);
        }

        .header__bar {
            transform: translateY(0);
        }
    }

    &__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__dialog {
        width: 100%;
        padding-right: 5rem;
        height: 100%;
        background-color: $white;
        position: fixed;
        z-index: 11;
        left: 0;
        transform-origin: 0 0;
        transform: translateX(-100%);
        overflow: hidden;
        display: flex;
        align-items: center;
        transition: all .5s ease;

        @include breakpoint(sm) {
            padding-right: 0;
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;

            &--primary {
                list-style: none;

                @include breakpoint(sm) {
                    width: 100%;
                }

                &__link {
                    font-size: 7rem;
                    text-decoration: none;
                    color: var(--color);
                    line-height: 116%;
                    display: inline-block;
                    transition: all ease 0.2s;
                    padding: 1rem 10rem;
                    font-family: var(--primary-font-semibold);
                    box-shadow: inset 0 0 0 0 var(--primary);

                    span {
                        display: inline-block;
                    }

                    &:hover {
                        box-shadow: inset 600px 0 0 0 var(--primary);
                        color: white;
                    }

                    @include breakpoint(xl) {
                        font-size: 5rem;
                    }

                    @include breakpoint(lg) {
                        font-size: 3.5rem;
                        padding: 1rem 5rem;
                    }
                }
            }

            @include breakpoint(md) {
                flex-wrap: wrap;
            }

            &--secondary {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include breakpoint(sm) {
                    width: 100%;
                }

                &__menu,
                &__social {
                    list-style: none;

                    &__link {
                        display: flex;
                        font-size: 3rem;
                        text-decoration: none;
                        color: var(--color);
                        transition: all 0.3s;

                        &:hover {
                            color: var(--primary);
                            transition: all 0.3s;
                        }

                        @include breakpoint(xl) {
                            font-size: 2.5rem;
                        }

                        @include breakpoint(md) {
                            justify-content: flex-end;
                        }

                        @include breakpoint(sm) {
                            justify-content: flex-start;
                        }

                    }

                }

                &__menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;



                    &__link {
                        position: relative;
                        padding: 0.5rem 0;

                        @include breakpoint(sm) {
                            padding: .5rem 5rem;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 3px;
                            background-color: var(--primary);
                            left: 0;
                            bottom: 0;
                            transition: all 0.3s;
                        }

                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }

                &__social {
                    display: flex;
                    justify-content: space-between;

                    @include breakpoint(sm) {
                        padding: .5rem 5rem;
                        justify-content: flex-end;

                        &__link {
                            margin-left: 2rem;
                        }
                    }
                }
            }

            &--contact {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__location {
                    list-style: none;
                    font-size: 14px;

                    label {
                        font-weight: bold;
                    }
                }

                &__office {
                    list-style: none;
                    font-size: 14px;

                    @include breakpoint(md) {
                        margin-top: 2.5rem;
                    }

                    &__link {
                        color: var(--color);
                        text-decoration: underline;
                    }
                }

                @include breakpoint(md) {
                    width: 100%;
                    padding: 5rem;
                }

                @include breakpoint(sm) {
                    width: 100%;
                    padding: 2.5rem 5rem;
                }
            }
        }
    }
}