@import 'normalize.css';

@font-face {
    font-family: Averta-Light;
    src: url(../../assets/fonts/Averta-Light.otf) format("truetype");
}
@font-face {
    font-family: Averta-Bold;
    src: url(../../assets/fonts/Averta-Bold.otf) format("truetype");
}
@font-face {
    font-family: Averta-Semibold;
    src: url(../../assets/fonts/Averta-Semibold.otf) format("truetype");
}
@font-face {
    font-family: Averta-Thin;
    src: url(../../assets/fonts/Averta-Thin.otf) format("truetype");
}

:root {
    --bg: #fff;
    --color: #000;
    --primary-font: Averta;
    --primary-font-thin: Averta-Thin;
    --primary-font-bold: Averta-Bold;
    --primary-font-semibold: Averta-Semibold;
    --overlay: rgba(0, 0, 0, 0.3);
    --primary: #0F4C81;
    --primary-light: #4c77b1;
    --primary-dark: #002554;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font), sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--bg);
    color: var(--color);
}
img {
    width: 100%;
}
.button{
    &--primary {
        padding: 1.5rem 3rem;
        background-color: var(--color);
        border: none;
        outline: none;
        border-radius: 4rem;
        color: var(--bg);
        font-size: 2rem;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.heading {
    &--1 {
        font-size: 7rem;
        font-weight: 600;
    }
    &--2 {
        font-size: 4.5rem;
        font-weight: 600;
    }
}
.describe {
    font-family: var(--primary-font-thin);
    font-size: 2.5rem;
}

.section {
    width: 80%;
    margin: auto auto;
}